{% load i18n %}
<h2>{% trans "Inbox" %}</h2>

<% if (messages.length == 0) { %>

  <em>{% trans "no messages" %}</em>

<% } else { %>

<table class="light">
  <thead>
    <tr>
      <th width="10%">{% trans "Date" %}</th>
      <th width="32%">{% trans "From" %}</th>
      <th width="15%">{% trans "To" %}</th>
      <th>{% trans "Subject" %}</th>
    </tr>
  </thead>
  <tbody>
    <% for (var i=0; i<messages.length; i++) { %>
      <tr <%= messages[i] %> class="<%=(i%2)===0?'odd':'even'%>
                 <%= (!messages[i].read_at) ? 'unread' : '' %>
        ">
        <td><div class="marker"> </div><%= UI.UTILS.dateTimeToPrettyString(messages[i].received_at) %></td>
        <td><%= messages[i].sender %></td>
        <td><%= account.get_record_label(messages[i].record_id) || account.fullName %></td>
        <td>
        	<%= messages[i].subject %>
        	<% if (messages[i].attachments && messages[i].attachments.length > 0) { %>
        		<img class="icon paperclip" src="/jmvc/ui/resources/images/paperclip.png" alt="attachment" title="attachment">
        	<% } %>
        </td>
      </tr>
      <% } %>
   </tbody>
</table>

<% } %>