<% if (isBackgroundApp) { %>
	<li id="<%= app.id %>" class="<%= app.identity() %>" data-appType="background" ><img class="app_tab_img" src="<%= app.getImageSource() %>"/><%= app.name %></li>
<% } else { %>
	<li id="<%= app.id %>" class="<%= app.identity() %>" data-appType="external" data-url="<%= startURL %>"><img class="app_tab_img" src="<%= app.getImageSource() %>"/><%= app.name %></li>
<% } %>