<% if (isBackgroundApp) { %>
	<li <%= app %> id="<%= app.id %>" data-appType="background" ><img class="app_tab_img" src="<%= app.getImageSource() %>"/><%= app.name %></li>
<% } else { %>
	<li <%= app %> id="<%= app.id %>" data-appType="external" data-url="<%= startURL %>"><img class="app_tab_img" src="<%= app.getImageSource() %>"/><%= app.name %></li>
<% } %>