<% _(all_apps).each(function(app, i) {
	if ('True' != app.data.autonomous) { %>
	<div class="app" <%= app %>>
		<% var img_name = app.data.name.toLowerCase().replace(/ +/, '_'); %>
		<img src="/jmvc/ui/resources/images/app_icons_32/<%= img_name %>.png" alt="" /><br />
		<%= app.data.name %>
		<!--div class="app_info">
			<b><%= app.data.name %></b><br />
			<%= app.data.description %><br />
			<span><%= app.id %></span>
		</div-->
	</div>
	<% }
}) %>
<div style="clear: left;"> </div>