<% _(carenets).each(function(carenet, i) { %>
	<div class="carenet" <%= carenet %>>
		<div class="carenet_border">
			<div class="carenet_content">
			<% _(carenet.apps).each(function(app, i) {
				app.temporarily_added = false;
				var coords = controller.coordinatesForAppIndex(i); %>
				<div class="carenet_app" style="top: <%= coords.top %>px; left: <%= coords.left %>px;" <%= app %>>
					<% var img_name = app.data.name.toLowerCase().replace(/ +/, '_'); %>
					<img src="/jmvc/ui/resources/images/app_icons_32/<%= img_name %>.png" alt="" />
					<div class="carenet_app_info">
						<b><%= app.data.name %></b><br />
						<%= app.data.description %><br />
						<span><%= app.id %></span>
					</div>
				</div>
			<% }) %>
			</div>
		</div>
		<div class="carenet_inner">
			<p>
				<a class="carenet_name"><%= carenet.name %></a>
				<b class="carenet_num_apps"><%= carenet.apps.length %></b>
			</p>
		</div>
	</div>
<% }) %>
<div style="clear: left;"> </div>