<% var opacity = app.temporarily_added ? 0.5 : 1;
   var img_url = app.getImageSource(); %>
<div class="carenet_app" style="opacity: <%= opacity %>; top: <%= coords.top %>px; left: <%= coords.left %>px; background-image: url('<%= img_url %>');" <%= app %>></div>
