<% _(carenets).each(function(carenet, i) { %>
	<div class="carenet round" <%= carenet %>>
		<div class="carenet_inner">
			<p>
				<a class="carenet_name"><%= carenet.name %></a>
				<b class="carenet_num_items"><%= carenet.apps.length %></b>
			</p>
		</div>
		<div class="carenet_border">
			<div class="carenet_content">
			<% _(carenet.apps).each(function(app, i) {
				app.temporarily_added = false;
				var coords = UI.Controllers.PHA.coordinatesForAppIndex(i);
				var img_url = app.getImageSource(); %>
				<div class="carenet_app" style="top: <%= coords.top %>px; left: <%= coords.left %>px; background-image: url('<%= img_url %>')" <%= app %>></div>
			<% }) %>
			</div>
		</div>
	</div>
<% }) %>
<div style="clear: left;"> </div>