{% load i18n %}
<h2>{% trans "Healthfeed" %}</h2>

<% if (notifications.length === 0) { %>
  <em>{% trans "no notifications" %}</em>
<% } %>

<% for (var i=0; i<notifications.length; i++) {
  %>
  <div class="notification">
    <blockquote class="content">
      <%= notifications[i].content %>
    </blockquote>

    <% if (notifications[i].document !== null) { %>
      <!-- [<a href="/records/<%= notifications[i].record.id %>/documents/<%= notifications[i].document.id %>" class="goto_document">go</a>] -->
    <% } %>

    <!-- Warning: don't use record_id in the id attr!! Issue with JQuery UI record tab panels!! -->
    <div class="details" style="font-style: italic; font-size: .85em; color: #777; margin: -1em 0 0 1.5em">
      &nbsp;&ndash; {% trans "sent by" %} <%= notifications[i].sender %> {% trans "about" %}
      <%= notifications[i].record.label %>&rsquo;s {% trans "record" %}
      <span class="created_at">
       - <%= UI.UTILS.dateTimeToPrettyString(notifications[i].received_at) %>
      </span>
    </div>
  </div>
<% } %>

<br /><br /><br />
