
<h2>Sharing for <%= label %></h2>

<p> Your Indivo record contains care networks. A care network is a
place for you to share some of your health information with a
subset of individuals you select. For example, the "Family" care
network is where you might invite your loved ones to view most of
your health information, while the "Work" care network will include
only people you work with and a much smaller subset of your health
information. </p>

<h3>Carenets</h3>

<% if (carenets.length == 0) { %>
  <p><em>No carenets</em></p>
<% } %>

<% $(carenets).each(function(i, carenet) { %>
  <strong><%= carenet.name %></strong>
  <ul>
    <% if (accounts[carenet.carenet_id].length == 0) { %> <em style="color: #777">no accounts in this carenet</em> <% } %>
    <% $(accounts[carenet.carenet_id]).each(function(i, account) { %>
      <li> <%= account.account_id %> [<a href="#" id="<%= carenet.carenet_id%>|<%= account.account_id %>" class="remove_account">x</a>]</li>
    <% }); %>
  </ul>
<% }); %>

<h4>Share with a new person</h4>
<form id="add_carenet_account_form">
  <table border="0" cellpadding="5">
    <tr><th width="100">Account ID:</th><td><input type="text" name="account_id" /></td></tr>
    <tr><th width="100">Carenet:</th>
      <td>
        <select name="carenet_id">
          <% $(carenets).each(function(i, carenet) { %>
            <option value="<%= carenet.carenet_id %>"> <%= carenet.name %></option>
          <% }); %>
        </select>
      </td>
    </tr>
  </table>
  <input type="submit" value="Share" />
</form>
